dateparser==1.0.0
ecdsa==0.16.0
eth_keys
eth-account>=0.5.6,<0.6.0
mpmath==1.0.0
pytest>=4.4.0,<5.0.0
requests-mock==1.6.0
requests==2.22.0
setuptools==50.3.2
six==1.12
sympy==1.6
tox==3.13.2
web3>=5.25.0,<6.0.0
