version: 2
jobs:
  test:
    docker:
      - image: circleci/python:3.9
      - image: trufflesuite/ganache-cli:v6.6.0
        command: -d -k=petersburg -i 1001
    working_directory: ~/build
    steps:
      - checkout
      - run:
          name: install dependencies
          command: sudo pip install -r requirements.txt
      - run:
          name: test
          command: tox
  lint:
    docker:
      - image: circleci/python:3.9
    working_directory: ~/build
    steps:
      - checkout
      - run:
          name: install dependencies
          command: sudo pip install -r requirements-lint.txt
      - run:
          name: lint
          command: flake8
  publish:
    docker:
      - image: circleci/python:3.9
    working_directory: ~/build
    steps:
      - checkout
      - run:
          name: install dependencies
          command: sudo pip install -r requirements-publish.txt
      - run:
          name: init .pypirc
          command: |
            echo -e "[pypi]" >> ~/.pypirc
            echo -e "username = __token__" >> ~/.pypirc
            echo -e "password = $PYPI_TOKEN" >> ~/.pypirc
      - run:
          name: create packages
          command: python3 setup.py sdist bdist_wheel
      - run:
          name: upload to pypi
          command: python3 -m twine upload dist/* --skip-existing

workflows:
  version: 2
  build_and_test:
    jobs:
      - lint
      - test
      - publish:
          requires:
            - lint
            - test
          filters:
            branches:
              only: master
